.navbar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 5%, rgba(255, 0, 0, 1) 100%);
    height: 12vh;
    box-shadow: 2px;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.877);
    padding: 10px;
    border-radius: 5px;
}

.navbar .nav-link {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.navbar-toggler {
    background: radial-gradient(circle, rgba(254, 180, 180, 1) 0%, rgba(156, 0, 0, 1) 100%);
}

.btn {
    padding: 12px 30px;
    font-weight: 900;
    font-size: 18px;
}

.btn-iyot {
    background: radial-gradient(circle, rgba(255, 254, 225, 1) 0%, rgba(255, 11, 11, 1) 79%);
    border: 2px solid rgb(255, 138, 138);
    border-radius: 10px;
    transition: all ease-in 0.5s;
}

.btn-iyot:hover {
    color: white;
    border: 2px solid rgb(255, 100, 100);
    background: radial-gradient(circle, rgba(240, 40, 40, 1) 0%, rgba(255, 254, 225, 1) 100%);
    transition: all ease-in 0.5s;
}

.imga {
    border-radius: 100%;
    width: 90px;
    border: 3px solid white;
}

.banner {
    background: url(red.jpg);
    height: 90vh;
    background-size: cover;
}

h1 {
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.banner p {
    color: white;
    font-size: 20px;
}

section {
    padding: 100px 0;
}

#about h2 {
    font-weight: 800;
    text-transform: uppercase;
}

#about h3 {
    color: rgb(105, 1, 1);
}

#about img {
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 0 0 15px 0 rgba(202, 12, 12, 0.521);
    margin-left: 80px;
}

.card-img-top {
    width: 35%;
}

.card {
    background-color: rgb(255, 166, 0);
    padding: 25px 20px;
    transition: all ease-in 0.5s;
    margin-top: 20px;
}

.card:hover {
    background: rgb(217, 198, 111);
    background: radial-gradient(circle, rgb(235, 117, 48) 0%, rgb(241, 92, 5) 100%);
}

.card:hover .card-title,
.card:hover .card-text {
    color: #ffffff;
}

.services h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 55px;
    color: rgb(238, 255, 0);
    margin-bottom: 30px;
}

.services {
    background: url(konoha.webp);
    background-size: cover;
}

#review {
    background: #102581;
}

#services {
    background-color: #fafafa;
}

.testimonial {
    border: 2px solid #14fc33;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.testimonial img {
    width: 75px;
    border: 2px solid #ffee00;
    border-radius: 10px;
}

.faq-section {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 0 !important;
}

.accordion-button {
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
    border-left: 3px solid #0A1737;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
    background-color: #0A1737; ;
    color: #FFF;
}
.accordion-button:hover {
    background-color: #0A1737;
    color: #FFF;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A1737 ;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}

@media screen and (max-width:760px) {
    #h1 {
        font-size: 45px !important;
    }

    section {
        padding: 60px 20px;
    }

    #about img {
        height: 300px;
        width: 300px;
        margin: 30px;
    }
}

/* #about {
    background: url(konoha.webp);
    background-size: cover;
} */